---
layout: base
title: Events
eleventyNavigation:
  key: Events
  parent: Tickets
  order: 2
---

<div class="events-listing eds-c-grid-container mb-5">
  <div class="row">
    <div class="event-grouping" id="group-October-2022" style="">
      <div class="col-sm-4 col-md-2">
        <h3>October 2022</h3>
      </div>
    </div>
    <article class="offset-2 pt-4 mt-n4 border-top border-danger event group-October-2022" aria-labelledby="event-Gifted and Talented applications close">
      <div class="row">
        <div class="col-12 col-md-8"> Date is intentionally not displayed

          <h3 class="event__name mb-2" id="event-Gifted and Talented applications close">Gifted and Talented applications close</h3>
          <div class="event__summary">Gifted and Talented applications close event</div>
          <a href="/gifted-and-talented" target="_blank" class="event__link"> Read more<svg     class="icn-chevron inline-svg" xmlns="http://www.w3.org/2000/svg" width="7.32" height="11.91"     viewBox="0 0 7.32 11.91">
              <polyline fill="none" stroke-width="2px" points="0.71 11.21 5.91 5.91 0.71 0.71"></polyline>
            </svg>
          </a>
        </div>
        <div class="col-md-3 d-none d-md-block">Image Div</div>
      </div>
    </article>
    <div class="event-grouping" id="group-September-2022" style="">
      <div class="col-sm-4 col-md-2">
        <h3>September 2022</h3>
      </div>
    </div>
    <article class="offset-2 pt-4 mt-n4 border-top border-danger event group-September-2022" aria-labelledby="event-Career Conversations - Broome">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="event__date">
            <p class="event__date-day">Thursday</p>
            <p class="event__date-number">1</p>
            <p class="event__date-month">September</p>
          </div>
          <span class="event__category event__category--4">Parent and carer event</span>
          <span class="event__category event__category--3">Information session</span>
          <span class="event__category event__category--1">Community event</span>
          <span class="event__time">7.00pm -8.30pm</span>
          <h3 class="event__name mb-2" id="event-Career Conversations - Broome">Career Conversations - Broome</h3>
          <p class="event__location">Mangrove Hotel <span class="event__address">47 Carnarvon Street, Broome, WA     6725 </span>
          </p>
          <div class="event__summary">Parent information session.</div>
          <div class="event__description">
            <p>Parent information session.</p>
          </div>
          <a href="https://www.eventbrite.com.au/e/career-conversations-an-information-session-for-parents-broome-tickets-260898092217" target="_blank" class="event__link"> Register for event<svg class="icn-chevron inline-svg"     xmlns="http://www.w3.org/2000/svg" width="7.32" height="11.91" viewBox="0 0 7.32 11.91">
              <polyline fill="none" stroke-width="2px" points="0.71 11.21 5.91 5.91 0.71 0.71"></polyline>
            </svg>
          </a>
        </div>
        <div class="col-md-3 d-none d-md-block">Image Div</div>
      </div>
    </article>
    <div class="event-grouping" id="group-August-2022">
      <div class="col-sm-4 col-md-2">
        <h3>August 2022</h3>
      </div>
    </div>
    <article class="offset-2 pt-4 mt-n4 border-top border-danger event group-August-2022" aria-labelledby="event-Career Conversations - Northam">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="event__date">
            <p class="event__date-day">Thursday</p>
            <p class="event__date-number">25</p>
            <p class="event__date-month">August</p>
          </div>
          <span class="event__category event__category--4">Parent and carer event</span>
          <span class="event__category event__category--3">Information session</span>
          <span class="event__category event__category--1">Community event</span>
          <span class="event__time">7.00pm - 8.30pm</span>
          <h3 class="event__name mb-2" id="event-Career Conversations - Northam">Career Conversations - Northam
                </h3>
          <p class="event__location">Bridgeley Community Centre Northam <span class="event__address">93 Wellington     Street East, Northam, WA 6401 </span>
          </p>
          <div class="event__summary">Parent information session.</div>
          <div class="event__description">
            <p>Parent information session.</p>
          </div>
          <a href="https://www.eventbrite.com.au/e/career-conversations-an-information-session-for-parents-northam-tickets-260832897217" target="_blank" class="event__link"> Register for event<svg class="icn-chevron inline-svg"     xmlns="http://www.w3.org/2000/svg" width="7.32" height="11.91" viewBox="0 0 7.32 11.91">
              <polyline fill="none" stroke-width="2px" points="0.71 11.21 5.91 5.91 0.71 0.71"></polyline>
            </svg>
          </a>
        </div>
        <div class="col-md-3 d-none d-md-block">Image Div</div>
      </div>
    </article>
    <article class="offset-2 pt-4 mt-n4 border-top border-danger event group-August-2022" aria-labelledby="event-An new Event in WA">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="event__date">
            <p class="event__date-day">Friday</p>
            <p class="event__date-number">5</p>
            <p class="event__date-month">August</p>
          </div>
          <div class="event__date">
            <p class="event__date-day">Monday</p>
            <p class="event__date-number">29</p>
            <p class="event__date-month">August</p>
          </div>
          <span class="event__category event__category--0">Career Events</span>
          <span class="event__time">08:00</span>
          <span class="event__time"> — 20:00</span>
          <h3 class="event__name mb-2" id="event-An new Event in WA">An new Event in WA</h3>
          <div class="event__summary">An new Event in WA</div>
          <div class="event__description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium nam quidem omnis, aspernatur     nihil nisi fugiat quod praesentium deleniti? Consectetur excepturi suscipit nostrum expedita     neque provident ut unde culpa consequuntur.</p>
          </div>
        </div>
        <div class="col-md-3 d-none d-md-block">Image Div</div>
      </div>
    </article>
    <article class="offset-2 pt-4 mt-n4 border-top border-danger event group-August-2022" aria-labelledby="event-Career Conversations - Kalgoorlie">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="event__date">
            <p class="event__date-day">Wednesday</p>
            <p class="event__date-number">3</p>
            <p class="event__date-month">August</p>
          </div>
          <span class="event__category event__category--4">Parent and carer event</span>
          <span class="event__category event__category--3">Information session</span>
          <span class="event__category event__category--1">Community event</span>
          <span class="event__time">7.00pm - 8.30pm</span>
          <h3 class="event__name mb-2" id="event-Career Conversations - Kalgoorlie">Career Conversations - Kalgoorlie</h3>
          <p class="event__location">Rydges Kalgoorlie <span class="event__address">21 Davidson Street, Kalgoorlie     S, WA 6430 </span>
          </p>
          <div class="event__summary">Parent information session.</div>
          <div class="event__description">
            <p>Parent information session.</p>
          </div>
          <a href="https://www.eventbrite.com.au/e/career-conversations-an-information-session-for-parents-kalgoorlie-tickets-262414507857" target="_blank" class="event__link"> Register for event<svg class="icn-chevron inline-svg"     xmlns="http://www.w3.org/2000/svg" width="7.32" height="11.91" viewBox="0 0 7.32 11.91">
              <polyline fill="none" stroke-width="2px" points="0.71 11.21 5.91 5.91 0.71 0.71"></polyline>
            </svg>
          </a>
        </div>
        <div class="col-md-3 d-none d-md-block">Image Div</div>
      </div>
    </article>
  </div>
</div>