---
layout: blank
title: PWS-1881
eleventyNavigation:
  key: PWS-1881
  parent: Tickets
  order: 2
---

<div class="wrapper">
    <div class="inner-wrapper">
        <header>
            <div class="doe-logo">{% include "doe.njk" %}</div>
            <div class="shaping">{% include "shaping.njk" %}</div>
        </header>
        <div class="content">
            <h2>Scheduled maintenance</h2>
            <br>

            <p>Some of our digital services are unavailable due to scheduled maintenance.</p>
            <p>We expect services to return to normal by 12 pm.</p>

            <br>
            <h3>Central services and general enquiries</h3>
            <p>T: +61 8 9264 4111</p>

            <p>Monday to Friday 8:00 am to 4:00 pm</p>
            <br>
            <h3>School Watch Security</h3>

            <p>T: 1800 177 777</p>
            <br>
            <p>
                <a href="https://www.wa.gov.au/" target="_blank">Go to whole of WA Government search</a>
                {% include "link.njk" %}
            </p>
        </div>
        <footer></footer>
    </div>
</div>