---
layout: base
title: PWS-2054 Event Page
eleventyNavigation:
  key: PWS-2054 Event Page
  parent: Tickets
  order: 1
---

{% set event = {
    "startDate": "13",
    "startMonth": "October",
    "name": "Event Title ",
    "desc": "Veniam laborum anim qui Lorem duis voluptate laborum nostrud laborum. Excepteur cupidatat aute qui velit. Exercitation anim et laborum adipisicing consectetur do incididunt ea. Amet proident veniam ipsum enim ut Lorem dolor sunt officia voluptate esse nisi laborum tempor. Est voluptate commodo deserunt anim cillum sunt consequat nulla est mollit veniam qui duis aute. Aliquip exercitation nulla esse duis quis ipsum sint dolore ipsum. Labore aute consequat et in nostrud ipsum aliquip."
} %}

<div class="event">
    <div class="row">
        <div class="col-12 col-md-2">
            <h3 class="mt-4 mt-md-0 event-group-title">${eventMonth}</h3>
        </div>
        <div class="col-12 col-md-6">
            <h3 class="event__name">${eventName}</h3>
            <p>
                <#if eventTime?has_content>
                <span class="ml-3">${eventTime}</span>
                </#if>
            </p>
            <p>${eventDescription}</p>
            <p>${eventLocation}</p>
        </div>
        <div class="col-12 col-md-4">Image</div>
    </div>
</div>

{#
<div class="event">

  <div class="" style="float: left; min-width: 140px;">
    <p class="event-day event-day--${eventMonthNumber%3}">${eventDay}</p>
    <p class="event-month">${eventMonth} MONTH</p>
  </div>

  <div class="" style="float: left;">
    <p class="event-name">${eventName}</p>

    <p class="event-full-date">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M20 20h-4v-4h4v4zm-6-10h-4v4h4v-4zm6 0h-4v4h4v-4zm-12 6h-4v4h4v-4zm6 0h-4v4h4v-4zm-6-6h-4v4h4v-4zm16-8v22h-24v-22h3v1c0 1.103.897 2 2 2s2-.897 2-2v-1h10v1c0 1.103.897 2 2 2s2-.897 2-2v-1h3zm-2 6h-20v14h20v-14zm-2-7c0-.552-.447-1-1-1s-1 .448-1 1v2c0 .552.447 1 1 1s1-.448 1-1v-2zm-14 2c0 .552-.447 1-1 1s-1-.448-1-1v-2c0-.552.447-1 1-1s1 .448 1 1v2z" />
      </svg>
      ${eventDayName}, ${eventDate}
      <#if eventTime?has_content>
        <span class="ml-3">${eventTime}</span>
      </#if>
    </p>

    <#if eventLocation?has_content>
      <div class="event-location">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
        </svg>
        ${eventLocation}
      </div>
    </#if>

    <p><a href="#" class="button-text">View event details</a></p>

  </div>

</div>

<div style="clear: both;"></div>


<#if eventDescription?has_content>
  ${eventDescription}
</#if>


<#if eventLinkUrl?has_content>
  <a class="button" href="${eventLinkUrl}">${eventLinkText}</a>
</#if>  #}