---
layout: base
title: a11y
eleventyNavigation:
  key: a11y
  order: 1
---

<h1>a11y</h1>
<label for="myText">
  <input id="myText" type="text" placeholder="Your Comment"></label>
  <div id="someIDD">Some</div>
  <div id="someID">Some</div>
  <button>The Button</button>
