html,
body {
  height: 100%;
}

.navbar .megamenu {
  top: 37px;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 0;

  a.nav-link {
    white-space: normal;
    font-size: 14px;
  }


}

li.has-megamenu:hover {
  border-bottom: 3px solid orange;
}

// .dropdown:hover>.dropdown-menu {
//   display: block;
//   position: absolute;
// }

.dropdown-hover-all .dropdown-menu,
.dropdown-hover>.dropdown-menu.dropend {
  margin-left: -1px !important
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;


  }

}


/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {

  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}

// Then add additional custom code here

.dropdown-menu {
  &.show {
    -webkit-animation: fadeIn 0.3s alternate;
    /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.3s alternate;
  }
}