---
layout: uljson
title: Doe Menu UL
eleventyNavigation:
  key: doemenuul
  parent: Megamenu
  order: 1
---

<ul id="doemenu">
  <li>
    <a href="http://dev-www.education.internal:17380/education-in-wa">Education in WA</a>
    <ul class="children">
      <li>
        <a href="http://dev-www.education.internal:17380/before-school">Before school</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/play-based-learning">Play based learning</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/child-and-parent-centres">Child and parent centres</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/kindilink">KindiLink</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/connecting-playgroup-and-school">Connecting playgroup and school</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/triple-p">Triple P</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/resources-for-families">Resources for families</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/western-australian-curriculum">Western Australian Curriculum</a>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/choosing-a-public-school">Choosing a school</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/distance-education">Distance education</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/education-support-centres-and-schools">Education support centres and schools</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/language-development-schools-and-centres">Language development schools and centres</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/senior-colleges">Senior colleges</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/agricultural-education">Agricultural education</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/non-government-schools">Non-government schools</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/home-schooling">Home schooling</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/alternatives-to-full-time-schooling">Alternatives to full-time schooling</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/alternatives-to-full-time-schooling/employing-young-people">Employing young people</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/residential-colleges">Residential colleges</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/enrolling-in-school">Enrolling in a public school</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/how-to-enrol-a-step-by-step-guide">How to enrol - a step by step guide</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/enrolment-questions-answered">Enrolment questions answered</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/families-new-to-western-australia">Families new to Western Australia</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/western-suburbs-local-intake-areas">Western suburbs local-intake areas</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/campaigns">Events and campaigns</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/upcoming-events">Upcoming events</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/premiers-anzac-student-tour">Premier's Anzac Student Tour</a>
            <ul class="children">
              <li>Premier's Anzac Student Tour</li>
              <li>
                <a href="http://dev-www.education.internal:17380/2022-anzac-tour">2022 Premier's Anzac Student Tour</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/2023-anzac-tour">2023 Premier's Anzac Student Tour</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/previous-anzac-tours">Previous tours</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/anzac-tour-teaching-resources">Teaching resources</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/wa-education-awards">WA Education Awards</a>
            <ul class="children">
              <li>WA Education Awards</li>
              <li>
                <a href="http://dev-www.education.internal:17380/awards-how-to-nominate">How to nominate</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/awards-write-your-nomination">Write your nomination</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/awards-terms-and-conditions">Terms and conditions</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/past-winners">Past winners</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/campaigns/no-voice-to-violence">No Voice to Violence</a>
          </li>
          <li>
            <a href="https://www.premiersreadingchallenge.wa.edu.au/">Premier's Reading Challenge</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <a href="http://dev-www.education.internal:17380/learning-and-support">Learning and support</a>
    <ul class="children">
      <li>
        <a href="http://dev-www.education.internal:17380/at-school">At school</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/starting-school">Starting school</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/back-to-school">Back to school</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/school-hours">School hours</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/future-term-dates">Term dates</a>
            <ul class="children">
              <li>Term dates</li>
              <li>
                <a href="http://dev-www.education.internal:17380/past-term-dates">Past term dates</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/attendance">Attendance</a>
            <ul class="children">
              <li>Attendance</li>
              <li>
                <a href="http://dev-www.education.internal:17380/absent-from-school">Absent from school</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/attendance-things-you-can-do">Things you can do</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/attendance-support-from-your-school">Support from your school</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/mobile-phones">Mobile phones</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/homework-and-study">Homework and study</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/uniforms">Uniforms</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/excursions-and-camps">Excursions and camps</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/scholarships">Scholarships</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/learning-programs">Learning programs</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/languages">Languages</a>
            <ul class="children">
              <li>Languages</li>
              <li>
                <a href="http://dev-www.education.internal:17380/aboriginal-languages">Aboriginal languages</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/stem">STEM</a>
            <ul class="children">
              <li>STEM</li>
              <li>
                <a href="http://dev-www.education.internal:17380/what-is-stem">What is STEM?</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/stem-in-early-childhood">STEM in early childhood</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/stem-in-public-schools">STEM in public schools</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/choosing-stem-pathways">Choosing STEM pathways</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/stem-in-the-wa-curriculum">STEM in the WA Curriculum</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/gifted-and-talented">Gifted and Talented</a>
            <ul class="children">
              <li>Gifted and Talented</li>
              <li>
                <a href="http://dev-www.education.internal:17380/gifted-and-talented/programs-and-opportunities">Programs and opportunities</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/gifted-and-talented/application-process">Application process</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/key-dates-and-application-guidelines">Testing information for 2022</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/approved-specialist-programs">Approved Specialist Programs</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/instrumental-music">Instrumental music</a>
            <ul class="children">
              <li>Instrumental music</li>
              <li>
                <a href="http://dev-www.education.internal:17380/instrumental-music/student-selection-and-commitment">Student selection and commitment</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/instrumental-music/music-program">Music program</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/instrumental-music/instruments-and-equipment">Instruments and equipment</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/instrumental-music/events-and-key-dates">Events and key dates</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/pathways-and-opportunities">Pathways and opportunities</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/career-development">Career development</a>
            <ul class="children">
              <li>Career development</li>
              <li>
                <a href="http://dev-www.education.internal:17380/career-conversations">Career conversations</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/career-development/start-a-conversation">Start a conversation</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/career-development/wace">WACE</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/career-devlopment/making-choices-for-years-11-and-12">Making choices for Years 11 and 12</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/career-development/pathways-to-university">Pathways to university</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/career-development/vet">VET</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/career-development/apprenticeships-and-traineeships">Apprenticeships and traineeships</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/career-devlopment/engaging-in-the-world-of-work">Engaging in the world of work</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/career-development/individual-pathway-planning">Individual pathway planning</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/student-health-and-wellbeing">Student health and wellbeing</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/progressing-through-school">Progressing through school</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/student-health-care">Student health care</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/healthy-living">Healthy living</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/mental-health">Mental health</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/bullying">Bullying</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/violence">Violence</a>
            <ul class="children">
              <li>Violence</li>
              <li>
                <a href="http://dev-www.education.internal:17380/violence/community">Community against violence</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/violence/parents">Parents against violence</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/violence/students">Students against violence</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/drug-education">Drug education</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/road-safety">Road safety</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/cyber-safety">Cyber safety</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/countering-violent-extremism">Countering violent extremism</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/bushfire-crisis-support-resources">Bushfire crisis support resources</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/assessment-and-reporting">Assessment and reporting</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/aedc">Australian Early Development Census (AEDC)</a>
            <ul class="children">
              <li>Australian Early Development Census (AEDC)</li>
              <li>
                <a href="http://dev-www.education.internal:17380/aedc-resources-for-families">AEDC resources for families and communities</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/aedc-resources-for-educators">AEDC resources for leaders and educators</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/on-entry-assessment">On-entry assessment</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/naplan">NAPLAN</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/olna">OLNA</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/children-with-special-educational-needs">Children with special educational needs</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/service-providers-in-schools">Service providers in schools</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/swimming-lessons">Swimming lessons</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/vacswim">VacSwim</a>
            <ul class="children">
              <li>VacSwim</li>
              <li>
                <a href="http://dev-www.education.internal:17380/programs-and-locations">Programs and locations</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/vacswim-swimming-stages-and-awards">Swimming stages and awards</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/enrolling-in-vacswim">How to enrol in VacSwim</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/vacswim-frequently-asked-questions">VacSwim frequently asked questions</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/interm-swimming">Interm Swimming</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/swimming-careers">Swimming careers</a>
            <ul class="children">
              <li>Swimming careers</li>
              <li>
                <a href="http://dev-www.education.internal:17380/swimming-instructor-resources">Swimming instructor resources</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/swimming-instructor-frequently-asked-questions">Swimming instructor frequently asked questions</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/become-a-swimming-instructor">Become a swimming instructor</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/contact-us-for-swimming-enquiries">Contact us for swimming enquiries</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <a href="http://dev-www.education.internal:17380/careers">Careers</a>
    <ul class="children">
      <li>
        <a href="http://dev-www.education.internal:17380/teach-in-wa">Teach in WA</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/your-pathway">Become a teacher in WA</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/live-in-wa">Live in WA</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/schools-in-wa">Schools in WA</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/rural-regional-and-remote">Teach in rural, regional and remote WA</a>
            <ul class="children">
              <li>Teach in rural, regional and remote WA</li>
              <li>
                <a href="http://dev-www.education.internal:17380/remote-teaching-service">Remote Teaching Service</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/teach-in-the-country">Teach in the country</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/teacher-housing-and-transport-assistance">Teacher housing and transport assistance</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/teacher-flying-squad">Teacher Flying Squad</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/explore-teaching-careers-events">Teaching career events</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/current-jobs">Current jobs</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/how-to-apply">How to apply</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/casual-relief-teaching">Casual teaching process</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/our-roles">Work with us</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/choose-teaching-in-a-public-school">Choose teaching in a public school</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/school-teacher-roles">Types of teachers</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/high-demand-areas">High demand teaching areas</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/professional-experiences">Pre-service development opportunities</a>
            <ul class="children">
              <li>Pre-service development opportunities</li>
              <li>
                <a href="http://dev-www.education.internal:17380/country-practicum-program">Regional professional experience program</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/stem-specialised-placements">STEM professional opportunities</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/horizons">Pre-service teacher programs</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/pre-service-casual-teaching">Teaching opportunities for pre-service teachers</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/aboriginal-pathways">Aboriginal pathways</a>
            <ul class="children">
              <li>Aboriginal pathways</li>
              <li>
                <a href="http://dev-www.education.internal:17380/aboriginal-teacher-scholarships">Bob Hawke Aboriginal teacher scholarships</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/aboriginal-teaching-pathways">Pathways into teaching</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/graduate-careers">Graduate careers</a>
            <ul class="children">
              <li>Graduate careers</li>
              <li>
                <a href="http://dev-www.education.internal:17380/graduate-development-program">Graduate Development Program</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/school-support-roles">School support staff</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/school-psychologists">School psychologists</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/school-leadership-roles">School leadership opportunities</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/central-and-regional-office-roles">Central and regional office roles</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/agricultural-careers">Agricultural careers</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/benefits-and-support">Benefits and support</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/teacher-salaries">Teacher salaries</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/leap-program">Leap program</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/career-progression">Career progression</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/awards-and-agreements">Awards and agreements</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/employment-eligibility">Employment eligibility</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/wwc">Working with Children Check</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/ncchc">Nationally Coordinated Criminal History Check</a>
            <ul class="children">
              <li>Nationally Coordinated Criminal History Check</li>
              <li>
                <a href="http://dev-www.education.internal:17380/screening-school-council-board-members">School council and board members</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/ncchc-identification">Identification</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/screening-validity">Screening validity</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/screening-privacy">Screening Unit privacy policy</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/teacher-qualifications-and-registration">Teacher qualifications and registration</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <a href="http://dev-www.education.internal:17380/our-organisation">Our organisation</a>
    <ul class="children">
      <li>
        <a href="http://dev-www.education.internal:17380/about-us">About us</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/our-people">Our people</a>
            <ul class="children">
              <li>Our people</li>
              <li>
                <a href="http://dev-www.education.internal:17380/our-values">Our values and code of conduct</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/our-organisation/policies">Policies</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/royal-commission-into-institutional-responses-to-child-sexual-abuse">Royal Commission</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/our-organisation/priorities-and-initiatives">Priorities and initiatives</a>
            <ul class="children">
              <li>Priorities and initiatives</li>
              <li>
                <a href="http://dev-www.education.internal:17380/attendance-every-day-matters">Attendance: Every day matters</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/kimberley-schools-project">Kimberley Schools Project</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/culturally-responsive-schools">Culturally responsive schools</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/our-organisation/school-chaplaincy-program">School chaplaincy program</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/our-organisation/caring-for-country-together">Caring for Country together</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/our-organisation/schools-clean-energy-technology-fund">Schools Clean Energy Technology Fund</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/our-priorities-sharing-prosperity">Sharing Prosperity</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/school-data-and-performance">School data and performance</a>
            <ul class="children">
              <li>School data and performance</li>
              <li>
                <a href="http://dev-www.education.internal:17380/naplan-public-school-performance-reports">NAPLAN public school performance reports</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/annual-reports">Annual reports</a>
            <ul class="children">
              <li>Annual reports</li>
              <li>
                <a href="http://dev-www.education.internal:17380/outcome-based-management-framework">Outcome based management framework</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/reports">Reports</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/freedom-of-information">Freedom of information</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/supply-to-us">Supply to us</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/public-schools">Public schools</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/strategic-directions">Strategic directions</a>
            <ul class="children">
              <li>Strategic directions</li>
              <li>
                <a href="http://dev-www.education.internal:17380/artwork">Artwork</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/funding-public-schools">Funding public schools</a>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/building-our-schools">Building our schools</a>
        <ul class="children">
          <li>Building our schools</li>
          <li>
            <a href="http://dev-www.education.internal:17380/high-priority-maintenance-and-minor-works">High Priority Maintenance and Minor Works program</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/bob-hawke-college">Bob Hawke College</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/tuart-woodland">Wellard Village Primary School (planning name) environmental information</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/independent-public-schools">Independent Public Schools</a>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/school-councils-boards">School councils and boards</a>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/principals-fellowship-program">Principals' Fellowship Program</a>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/connecting-schools-and-communities">Connecting schools and communities</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/community-use-of-school-facilities">Community use of school facilities</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/community-consultations-on-schooling">Community consultations on schooling</a>
            <ul class="children">
              <li>Community consultations on schooling</li>
              <li>
                <a href="http://dev-www.education.internal:17380/community-consultation-in-the-clarkson-kinross-and-mindarie-area">Community consultation in the Clarkson, Kinross and Mindarie area</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/community-consultation-outcomes-for-the-cannington-and-maddington-area">Community consultation outcomes for the Cannington and Maddington area</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/non-government-school-registration">Non-government school registration</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/standards">Standards and other requirements</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/establish-a-new-school">Establish a new school</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/renew-a-school-registration">Renew a school registration</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/change-a-school-registration">Change a school registration</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/ongoing-obligations">Ongoing obligations</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/non-government-school-registration-limitations">Registration limitations</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/review-of-non-government-school-registration-decisions">Review of decisions</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/registration-as-a-training-organisation">Registration as a training organisation</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/non-government-school-concerns">Concerns about non-government schools</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/international-school-registration">International school registration</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/community-based-course-registration">Community based course registration</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/non-government-school-funding">Non-government school funding</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/non-government-student-census">Non-government student census</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/low-interest-loan-scheme">Low interest loan scheme</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/per-capita-grants">Per capita grants</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/special-education-per-capita-funding">Special education funding</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/news">Media and news</a>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/contact">Contact</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/complaints">Complaints</a>
            <ul class="children">
              <li>Complaints</li>
              <li>
                <a href="http://dev-www.education.internal:17380/understand-the-complaints-process">Understand the complaints process</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/on-site-research">On-site research</a>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/school-watch">School Watch</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="http://dev-www.education.internal:17380/covid-19">COVID-19</a>
    <ul class="children">
      <li>
        <a href="http://dev-www.education.internal:17380/wellbeing-and-support">Wellbeing and support</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/learning-at-home/support-for-children-and-young-people">Support for children and young people</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/learning-at-home/assistance-for-schools">Assistance for schools</a>
            <ul class="children">
              <li>Assistance for schools</li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/supporting-students">Supporting students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/taking-care-of-yourself">Taking care of yourself</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/other-support-services">Other support services</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/learning-at-home/support-for-parents-and-carers">Support for parents and carers</a>
            <ul class="children">
              <li>Support for parents and carers</li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/student-health-and-wellbeing">Health and wellbeing</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/support-services-and-resources">Support services and resources</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/learning-environment">Set up a learning environment</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/parent-helpline">Parent helpline</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="http://dev-www.education.internal:17380/learning-from-home">Learning from home</a>
        <ul class="children">
          <li>
            <a href="http://dev-www.education.internal:17380/learning-at-home/learning-resources-from-across-the-nation">Learning resources from across the nation</a>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/learning-at-home/learning-resources-by-year-level">Learning resources by year level</a>
            <ul class="children">
              <li>Learning resources by year level</li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/kindergarten">Resources for Kindergarten students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/pre-primary">Resources for Pre-primary students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-1">Resources for Year 1 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-2">Resources for Year 2 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-3">Resources for Year 3 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-4">Resources for Year 4 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-5">Resources for Year 5 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-6">Resources for Year 6 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-7">Resources for Year 7 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-8">Resources for Year 8 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-9">Resources for Year 9 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-10">Resources for Year 10 students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-11">Resources for Year 11 Students</a>
              </li>
              <li>
                <a href="http://dev-www.education.internal:17380/learning-at-home/year-12">Resources for Year 12 students</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="http://dev-www.education.internal:17380/covid-19/school-camps-covid-19-assistance-program">School Camps COVID-19 Assistance Program</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>