---
layout: base
title: Multilevel Menu
eleventyNavigation:
  key: Multilevel Menu
  parent: Megamenu
  order: 1
---

<h1>Multi Level Menu</h1>
{% macro menuItem(item) %}
  <li role="menuitem">
    {% if item.url and item.children %}
      <a href="{{ item.url }}">{{ item.name }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16">
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1
              0-.708z"/>
        </svg>
      </a>
    {% else %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endif %}
    {% if item.children %}
      <ul role="menubar">
        {% for item in item.children %}
          {{ menuItem(item) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endmacro %}
<nav>
  <ul id="navmenu" ">
    {% for lone in menu %}
      <li>
        <a href="{{ lone.url }}">{{ lone.name }}</a>
        <ul>
          {% for item in lone.children %}
            {{ menuItem(item) }}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>